    

body{
    font-family: 'Montserrat', sans-serif;

}

#search-box {
    max-width: 694px;
}
#search-box .row{
    max-width: 672px;
}
@media screen and (min-width: 992px) {
    #search-box {
        margin: 0 auto;
    }
}

ul {
    list-style: none;
}
#search-items {
    width: 100%;

}


