    

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(252, 223, 187, 0.5); /*giallo chiaro*/
}

.text-primary{
  
    color: rgb(211, 167, 34) !important;
}

#search-box {
    max-width: 694px;
}
@media screen and (min-width: 992px) {
    #search-box {
        margin: 0 auto;
    }
}
/*
@media screen and (min-width: 288px) and (max-width: 727px) {
   .nascondiMobileBottoni{
    display: none;
   }
   .nav-item{
    width: 100%;
    height: 30px;
   }
   .nav-item .text-white{
    width: 100%;
    text-decoration: none;
    border: 1px solid orange ;
    
   }
   .navbar-toggler{
    position: fixed;
    top: 10px;
    right: 10px;
   }
   
} 

@media screen and (min-width: 728px) {
    .nascondi-toggler-desktop{
        display: none;
    }
 }
*/


ul {
    list-style: none;
}
#search-items {
    width: 100%;
    background-color: rgb(230, 228, 228);
}
#search-items li:nth-of-type(even) {
    background-color: rgb(206, 206, 206);
}